.course_item_container {
  background-image: url("https://cdn.sanity.io/images/tlr8oxjg/production/fdf314615dab9455b1e163ae8ab698abde8453c8-1456x816.png?w=640&q=80&fit=clip&auto=format");
  height: 300px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  cursor: pointer;
  border-radius: 4px;
}

.course_item_content_title {
  font-size: 20px;
  font-weight: bold;
}

.course_item_content_rating {
  color: #bdea09;
  gap: 4px;
}

.course_item_content_rating span {
  color: #fff;
  font-size: 12px;
}

.course_item_content_description {
  font-size: 14px;
}

.course_item_icon {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
}
